@font-face {
    font-family: 'Roboto';
    src: url('/monochrome/public/fonts/Roboto-MediumItalic.woff2') format('woff2'),
      url('/monochrome/public/fonts/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/monochrome/public/fonts/Roboto-Thin.woff2') format('woff2'),
      url('/monochrome/public/fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/monochrome/public/fonts/Roboto-Regular.woff2') format('woff2'),
      url('/monochrome/public/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/monochrome/public/fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('/monochrome/public/fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/monochrome/public/fonts/Roboto-Bold.woff2') format('woff2'),
      url('/monochrome/public/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/monochrome/public/fonts/Roboto-Black.woff2') format('woff2'),
      url('/monochrome/public/fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/monochrome/public/fonts/Roboto-BlackItalic.woff2') format('woff2'),
      url('/monochrome/public/fonts/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/monochrome/public/fonts/Roboto-Light.woff2') format('woff2'),
      url('/monochrome/public/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/monochrome/public/fonts/Roboto-Italic.woff2') format('woff2'),
      url('/monochrome/public/fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/monochrome/public/fonts/Roboto-ThinItalic.woff2') format('woff2'),
      url('/monochrome/public/fonts/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/monochrome/public/fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('/monochrome/public/fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('/monochrome/public/fonts/Roboto-Medium.woff2') format('woff2'),
      url('/monochrome/public/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Playfair Display';
    src: url('/monochrome/public/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('/monochrome/public/fonts/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/monochrome/public/fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
        url('/monochrome/public/fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/monochrome/public/fonts/PlayfairDisplay-Black.woff2') format('woff2'),
        url('/monochrome/public/fonts/PlayfairDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/monochrome/public/fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
        url('/monochrome/public/fonts/PlayfairDisplay-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/monochrome/public/fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
        url('/monochrome/public/fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/monochrome/public/fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
        url('/monochrome/public/fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/monochrome/public/fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('/monochrome/public/fonts/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/monochrome/public/fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
        url('/monochrome/public/fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/monochrome/public/fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
        url('/monochrome/public/fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/monochrome/public/fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
        url('/monochrome/public/fonts/PlayfairDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/monochrome/public/fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('/monochrome/public/fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/monochrome/public/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('/monochrome/public/fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

